<h3>Pick from Below or Add a New Category</h3>

<ul>
    <% categoryArr.forEach(category => { %>
 <li><%= category.name %></li>


 <!-- simplify later if possible -->
    <% if(category.restaurants[0]) { %> 
        <% for (let i=0;i<category.restaurants.length; i++) { %> 
            <% if(category.restaurants[i].id === selectedRestaurant.id) { %>
                <form action="/restaurants/<%=selectedRestaurant.id%>/rmfrom/<%=category.id%>" method="post">
                    <button type="submit">Remove <%= selectedRestaurant.name %> from <%= category.name %> </button>
                </form>
                <% break; %>
            <% } else if (i===category.restaurants.length-1) { %>
                <form action="/restaurants/<%=selectedRestaurant.id%>/addto/<%=category.id%>" method="post">
                    <button type="submit">Add <%= selectedRestaurant.name %> to <%= category.name %> </button>
                </form>
            <% } %> 
        <% } %> 
    <% } else { %>
        <form action="/restaurants/<%=selectedRestaurant.id%>/addto/<%=category.id%>" method="post">
            <button type="submit">Add <%= selectedRestaurant.name %> to <%= category.name %> </button>
        </form>
    <% } %> 
    <% }) %>
</ul>

<form action="/restaurants/<%=selectedRestaurant.id%>/addcategory" method="post">
    <div>
        <label for="name">New Category Name:</label>
        <input type="name" name="name" id="name" required>
    </div>
    <button type="submit">Add <%=selectedRestaurant.name%> to this New Category</button>
</form>

<div>
    <a href="/restaurants/<%= selectedRestaurant.id %>">Back to <%= selectedRestaurant.name %> Details Page</a>
</div>