<section class="padding-top py-5 content-section bg-dark">
    <!-- Title -->
    <div class="container bg-dark bg-opacity-50 py-5">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
            <h2 class="text-white"><i class="fas fa-street-view text-primary"></i> &nbsp;Pick from Below</h2>
        </div>
    </div>
    <!-- Results List -->
    <div class="container px-4 px-lg-5 align-items-center">
        <div class="row gy-5 gx-4 gx-lg-5">
            <% resultsArr.forEach(feature => { %>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">

                            <h5 class="text-capitalize my-2 m-0"><%= feature.place_name %> </h5>
                            <h6 class="text-lowercase">Mapbox category: <%= feature.properties.category %> </h6>
                            <h6 class="text-lowercase">Foursquare: <a target="_blank" href="https://foursquare.com/v/<%= feature.properties.foursquare %>">link</a></h6>

                            <hr class="my-4 mx-auto" />

                            <form action="/restaurants/<%=restaurantId%>/map/?_method=put" method="post">
                                <input type="hidden" name="lon" value="<%=feature.center[0]%>">
                                <input type="hidden" name="lat" value="<%=feature.center[1]%>">
                                <button class="btn btn-primary" type="submit"><i class="fas fa-map-marker-alt"></i> &nbsp; That's Better</button>    
                            </form>

                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>