<h3>Pick from Below</h3>

<ul>
    <% resultsArr.forEach(feature => { %>
        <li>
            <div><%= feature.place_name %> </div>
            <div>category: <%= feature.properties.category %> </div>
            <div>foursquare: <a target="_blank" href="https://foursquare.com/v/<%= feature.properties.foursquare %>">link</a></div>

            <form action="/restaurants/<%=restaurantId%>/map/?_method=put" method="post">
                <input type="hidden" name="lon" value="<%=feature.center[0]%>">
                <input type="hidden" name="lat" value="<%=feature.center[1]%>">
                <button type="submit">Update Map With This Entry</button>    
            </form>
        </li>
    <% }) %>
</ul>
        