<h3><%= selectedRestaurant.name %></h3>
<h4>Address: <%= selectedRestaurant.address %></h4> 
<h4>Note: <%= selectedRestaurant.note %></h4> 
<h4>Rating: <%= selectedRestaurant.rating %></h4> 

<!-- map -->

<% if (menuArr[0]) { %>
<ul>
    <% menuArr.forEach(menuItem => { %>
<h4><%= menuItem.name %></h4>
<p>Description: <%= menuItem.description %></p>
<p>Price: $<%= menuItem.price %></p>
    <% }) %>
</ul>
<% } else { %>
<p>No Menu Highlights yet!</p>
<% } %>

<div>
    <a href="/restaurants/<%= selectedRestaurant.id %>/new">Add a New Favorite</a>
</div>